:root {
  --background-color: 0, 0%, 98%;
  --primary-green-color: 70, 62%, 55%;
  --primary-blue-color: 204, 81%, 39%;
  --text-primary-color: 0, 0%, 45%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(var(--background-color));
  font-family: "Roboto", sans-serif;
  color: hsl(var(--text-primary-color));
}

nav {
  width: 100%;
  position: relative;
  margin: auto;
  padding: 20px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.links a {
  color: hsl(var(--text-primary-color));
  text-transform: uppercase;
}

.burger {
  display: none;
}

.under-nav {
  width: 100%;
  height: 5px;
  top: 100%;
  left: 0;
  background: rgb(185, 212, 72);
  background: linear-gradient(
    90deg,
    rgba(185, 212, 72, 1) 0%,
    rgba(19, 117, 184, 1) 69%
  );
}

a {
  text-decoration: none;
}

nav .links {
  display: flex;
}

ul {
  list-style: none;
  display: flex;
}

li {
  font-size: 1em;
  font-weight: 300;
}

nav li svg {
  display: none;
}

nav .home-link a:hover {
  color: hsl(70, 62%, 55%);
}
nav .about-link a:hover {
  color: hsl(102, 31%, 56%);
}
nav .work-link a:hover {
  color: hsl(186, 40%, 42%);
}
nav .contact-link a:hover {
  color: hsl(204, 81%, 39%);
}

svg {
  fill: hsl(var(--text-primary-color));
}

nav li:not(:last-child):after {
  content: "/";
  margin: 0 4px;
}

.icons {
  display: flex;
  align-items: center;
}

.icons svg {
  width: 20px;
  height: 20px;
  margin-left: 30px;
}

.search-container {
  display: none;
  width: 100%;
  justify-content: center;
  padding: 20px;
}

.search-icon {
  cursor: pointer;
}

.search-icon:hover {
  fill: hsl(var(--primary-green-color));
}

.search-container.open {
  display: flex;
}

.under-nav ul {
  display: none;
}

.under-nav.open ul {
  display: flex;
  color: hsl(var(--background-color));
  flex-direction: column;
  width: 100%;
  gap: 1px;
}

.under-nav .home-link {
  background-color: hsl(70, 62%, 55%);
}

.under-nav .about-link {
  background-color: hsl(102, 31%, 56%);
}

.under-nav .work-link {
  background-color: hsl(186, 40%, 42%);
}

.under-nav .contact-link {
  background-color: hsl(204, 81%, 39%);
}
.under-nav li::after {
  content: "";
}

.under-nav a {
  width: 100%;
  color: hsl(var(--background-color));
}

.container {
  width: 100%;
  position: relative;
  background-image: url(./assets/dots.png);
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0px 1px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

.slider {
  display: flex;
  width: 300%;
  transition: all 0.3s;
  background-color: rgba(163, 162, 162, 0.1);
}

.slider div {
  display: flex;
  align-items: center;
  flex-basis: 100%;
  justify-content: center;
  padding: 50px 20px;
  margin: auto;
  gap: 10px;
}

.slider div h1 {
  font-size: 48px;
  font-weight: 400;
  text-transform: uppercase;
}

.slider div img {
  width: 200px;
}

.slider-controls {
  position: absolute;
  left: 50%;
  bottom: 10px;
  display: flex;
  gap: 10px;
}

input[type="radio"] {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
  background-color: hsl(var(--text-primary-color));
  width: 1em;
  height: 1em;
  border: 0.15em solid hsl(var(--text-primary-color));
  border-radius: 50%;
  transform: translateY(-0.075em);
  cursor: pointer;
}

input[type="radio"]:checked {
  background-color: hsl(var(--primary-green-color));
  border-color: hsl(var(--primary-green-color));
}

.small-slider-controler {
  display: none;
  position: relative;
  width: 100%;
  overflow: hidden;
  box-shadow: 0px 1px rgba(0, 0, 0, 0.3);
}

.small-slider-controler p {
  font-size: 24px;
  font-weight: bold;
}

.text-slider {
  display: flex;
  align-items: center;
  min-width: 300%;
  transition: all 0.3s;
}

.text-slider .section-text {
  font-size: 20px;
  font-weight: 400;
  padding: 20px;
  display: flex;
  flex-basis: 100%;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}

.arrow {
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  cursor: pointer;
  z-index: 10;
}

.arrow:hover {
  color: hsl(var(--primary-green-color));
}

.left {
  left: 2px;
}

.right {
  right: 2px;
}

section {
  width: 450px;
  margin: 50px auto;
}

section .title {
  font-size: 32px;
  font-weight: 500;
  text-transform: uppercase;
  margin: 50px 0;
}

.frame {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 200px;
  height: 140px;
  background-color: rgba(163, 162, 162, 0.3);
}

.frame svg {
  width: 60px;
  height: 60px;
  fill: hsl(var(--text-primary-color));
  z-index: 10;
}

.about-list {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.about-list li {
  display: flex;
  flex: 1 1 auto;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 30px;
  align-items: center;
}

.about-list button {
  width: 100px;
  padding: 5px;
  align-self: flex-end;
  border: none;
  border-radius: 5pxs;
  color: hsl(var(--background-color));
  background-color: hsl(var(--primary-green-color));
  transition: all 0.3s;
  cursor: pointer;
}

.about-list button:hover {
  background-color: rgba(163, 162, 162, 0.3);
  color: hsl(var(--text-primary-color));
}

.card-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 150px;
}

.about-list p {
  font-size: 14px;
}

.about-list h1 {
  font-size: 16px;
  font-weight: 500;
  text-transform: none;
}

.grid-container {
  display: grid;
  grid-template-columns: 200px 200px;
  grid-template-rows: 140px 140px;
  gap: 50px;
}

.cell {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(163, 162, 162, 0.3);
}

#work svg {
  width: 60px;
}

footer {
  width: 100%;
  height: 70px;
  background-color: rgba(163, 162, 162, 0.3);
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer .links a {
  margin: 10px;
}

footer svg {
  height: 45px;
  padding: 10px;
  margin: 10px;
  border-radius: 50%;
  background-color: hsl(var(--background-color));
  cursor: pointer;
}

footer svg:hover {
  fill: hsl(var(--primary-green-color));
}

@media screen and (max-width: 480px) {
  .burger {
    display: flex;
  }
  .burger {
    cursor: pointer;
  }
  .burger:hover {
    fill: hsl(var(--primary-green-color));
  }
  .icons ul {
    display: none;
  }
  .under-nav.open ul {
    display: flex;
    color: hsl(var(--background-color));
    flex-direction: column;
    width: 100%;
    gap: 1px;
  }
  .slider div h1 {
    display: none;
  }

  .slider div img {
    width: 120px;
  }

  .slider div {
    padding: 10px 0;
  }
  .small-slider-controler {
    display: flex;
  }
  .slider-controls {
    display: none;
  }
}

@media screen and (max-width: 720px) {
  nav li svg {
    display: block;
    width: 20px;
    height: 20px;
  }
  nav li {
    font-size: 0;
  }
  nav .home-link svg:hover {
    fill: hsl(70, 62%, 55%);
  }
  nav .about-link svg:hover {
    fill: hsl(102, 31%, 56%);
  }
  nav .work-link svg:hover {
    fill: hsl(186, 40%, 42%);
  }
  nav .contact-link svg:hover {
    fill: hsl(204, 81%, 39%);
  }

  .slider div {
    padding: 30px 10px;
    margin: auto;
  }

  .slider div h1 {
    font-size: 40px;
  }

  .slider div img {
    width: 150px;
  }
  section {
    margin: auto;
    width: 200px;
  }
  .about-list li {
    flex-direction: column;
    gap: 5px;
    width: 200px;
  }
  .card-text {
    align-self: flex-start;
    min-height: fit-content;
    width: 100%;
  }
  .about-list p {
    display: none;
  }
  .about-list button {
    justify-self: flex-end;
  }

  .cell:hover svg {
    fill: hsl(var(--primary-green-color));
  }

  .grid-container {
    grid-template-rows: repeat(4, 140px);
    grid-template-columns: 200px;
  }

  footer .links {
    display: none;
  }
}
